@import "~/src/scss/index.scss";

.wishlistIcon {
  color: $text-secondary;
  opacity: 1 !important;
  transition: all 0.3s ease-in;

  &:hover {
    color: $text-secondary;
    opacity: 0.6 !important;
    cursor: pointer;
  }
}
