@import "~/src/scss/index.scss";

.noResult {
  padding-top: 30px;
  padding-bottom: 30px;
  // padding-left: 30px;
  // padding-right: 30px;
  // background-color: $lightgreen;
  transition: all 0.3s ease-in-out;

  .wrapper {
    .title {
      color: $text-secondary;
      text-align: center;
    }
  }
}
