@import "~/src/scss/index.scss";

.grid {
  display: grid;
  grid-auto-rows: 1fr;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  @include mobile() {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
