@import "~/src/scss/index.scss";

.stepOne {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  width: 100%;
  gap: 30px;

  .left {
    width: 65%;
  }

  .right {
    width: 35%;
  }
}
