@import "~/src/scss/index.scss";

.topBar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    z-index: 5;
    justify-content: space-between;
    background-color: $light;
    box-shadow: $box-shadow;
}

.left {
    width: 20%;

    > a {
        display: flex;
        align-items: center;
        
        > img {
            position: relative !important;
            width: auto;
            height: 40px;
            max-height: 40px;
        }
    }
}

.right {
    color: $text-primary;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: end;
}