@import "~/src/scss/index.scss";

.requirements {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .heading {
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    // gap: 54px;
    background-color: $lightgreen;
    padding: 54px;
    border-radius: 8px;
  }
}
