@import "~/src/scss/index.scss";

.chartjs2StackedBar {
  box-sizing: border-box;
  width: 100% !important;
  height: auto !important;

  .chartjs2StackedBarWrapper {
    border: 1px solid $border-primary;
    border-radius: 8px;
    padding: 16px;
    overflow: hidden;
    background: $light;
    color: $darkgray;
    height: 100%;
    flex-grow: 1;

    .title {
      margin: 0;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.57;
      margin-bottom: 0.35em;
    }

    .chartjs2StackedBarBox {
      width: 100%;
      height: auto;
      min-width: 50vw;
      min-height: 250px;

      canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
