@import "~/src/scss/index.scss";

.cartHeader {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 20px;

    .title {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      color: $text-primary;

      > i {
        width: 25px;
        height: 25px;
        font-size: 25px;
        display: flex;
        align-items: center;
        margin-right: 15px;
      }
    }

    .steps {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 20px;

      > div {
        display: flex;
        align-items: center;

        &.active {
          > span {
            color: $text-primary;
            font-weight: bold;
          }
          .number {
            border-color: $tertiary;
          }
        }

        &.success .number {
          border-color: $tertiary;
          background-color: $tertiary;
          color: $tertiary;

          > i {
            display: flex;
            position: absolute;
            margin: 0;
            align-items: center;
            justify-content: center;
            color: $light;
          }
        }

        &.success .title {
          color: $tertiary;
          font-weight: bold;
        }

        &.success .space {
          background-color: $tertiary;
        }

        > span {
          color: $text-secondary;
        }

        .number {
          border: 3px solid $border-primary;
          font-size: 12px;
          border-radius: 100px;
          width: 26px;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 1px;
          padding-top: 1px;
          margin-right: 10px;

          > i {
            display: none;
          }
        }

        .space {
          width: 100px;
          height: 3px;
          background-color: $border-primary;
          margin-left: 15px;
          margin-right: 20px;
        }

        &:last-of-type .space {
          display: none;
        }
      }
    }

    .certificate {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      // border: 3px solid $tertiary;
      padding: 5px 15px;
      border-radius: 8px;
      // background: $gray;

      > i {
        color: $accent;
        font-size: 20px;
        margin-right: 10px;
      }

      > div {
        display: flex;
        flex-direction: column;
        border-left: 1px solid $border-primary;
        padding-left: 10px;

        > span {
          &:first-of-type {
            font-weight: bold;
            font-size: 13px;
          }

          &:last-of-type {
            color: $text-secondary;
            font-size: 11px;
          }
        }
      }
    }
  }
}
