@import "~/src/scss/index.scss";

.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;

  .dropdownButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .label {
      font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: $text-primary;
    }
  }

  .dropdownMenu {
    // position: absolute;
    top: 58px; // Posiciona el menú en el centro vertical

    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: $light;
    box-shadow: $box-shadow;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    width: auto; // Ajusta el ancho según sea necesario

    &.alignCenter {
      position: fixed; // Usamos fixed para que siempre se quede en pantalla
      left: 50%; // Posiciona el menú en el centro horizontal
      transform: translate(
        -50%,
        -15px
      ); // Ajuste para que el centro del menú coincida con el centro de la pantalla
      max-width: 90%; // Evita que el menú se extienda demasiado en pantallas pequeñas
    }

    &.alignRight {
      position: absolute;
      top: 30px;
      right: 0;
      flex-direction: column;
      min-width: 200px;
    }
  }
}
