@import "~/src/scss/index.scss";

.serviceCard {
  height: 100%;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $background-light__blur;
  // background-color: $light;
  backdrop-filter: blur(20px);
  color: $text-secondary;
  border-radius: 0.5rem;
  // border: 1px solid $lightgray;
  transition: all 0.2s ease-in;

  > i {
    color: $accent;
    font-size: 40px;
  }

  > .title {
    color: $light;
    // color: $primary;
    margin-top: 15px;
  }

  > .description {
    color: $text-secondary;
    margin-top: 15px;
  }

  &:hover {
    background-color: $secondary;
    box-shadow: $box-shadow;

    .title {
      color: $light;
    }
  }
}
