@import "~/src/scss/index.scss";

.verticalBanner {
  width: 120px;
  height: 240px;
  position: relative;
  overflow: hidden;
  //   display: inline-flex;
  //   order: 5 !important;
  //   flex-grow: 3 !important;
  //   flex-shrink: 3 !important;
  //   flex-basis: 33.33% !important;
  //   gap: 30px;
  //   border-radius: 8px;

  img {
    object-fit: cover;
    width: 100%;
    max-width: 120px;
    height: 100%;
  }
}
