@import "~/src/scss/index.scss";

.embla {
  height: 75vh;
  overflow: hidden;
}
.emblaContainer {
  display: flex;
}
.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  // background-color: $lightgreen;
  // background-color: $quaternary;
  // background-color: $background-light__blur;
  // color: $text-accent;
  position: relative;
  // height: 100vh; /* 100vh; */
  height: 75vh; /* 100vh; */
  // height: 450px; /* 100vh; */
  overflow: hidden;

  // background: $primary; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $primary,
    $accent
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $primary,
    $accent
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .particle {
    // position: absolute;
    // border-radius: 50%;
    // background-color: $light;
    // box-shadow: 0 0 3px $light;
    // animation-duration: 60s;
    // animation-iteration-count: infinite;

    position: absolute;
    border-radius: 50%;
    background-color: $light;
    // box-shadow: 0 0 3px $accent;
    animation-duration: 60s;
    animation-iteration-count: infinite;

    &:nth-child(odd) {
      // height: 9px;
      // width: 9px;
      // background-color: hsl(45, 100%, 54%, 0.1);
      background-color: hsla(0, 0%, 100%, 0.1);
      // border: 1px solid $light;
      height: 16px;
      width: 16px;
    }

    &:nth-child(even) {
      // height: 7px;
      // width: 7px;

      height: 12px;
      width: 12px;
    }

    &:nth-child(1) {
      opacity: 0.46;
      animation-name: particle1;
      animation-delay: -0.2s;
      transform: translate3d(55vw, 79vh, 22px);
    }

    @keyframes particle1 {
      100% {
        transform: translate3d(80vw, 51vh, 9px);
      }
    }

    &:nth-child(2) {
      opacity: 0.08;
      animation-name: particle2;
      animation-delay: -0.4s;
      transform: translate3d(55vw, 79vh, 22px);
    }

    @keyframes particle2 {
      100% {
        transform: translate3d(31vw, 35vh, 87px);
      }
    }

    &:nth-child(3) {
      opacity: 0.41;
      animation-name: particle3;
      animation-delay: -0.6s;
      transform: translate3d(78vw, 63vh, 52px);
    }

    @keyframes particle3 {
      100% {
        transform: translate3d(42vw, 66vh, 40px);
      }
    }

    &:nth-child(4) {
      opacity: 0.33;
      animation-name: particle4;
      animation-delay: -0.8s;
      transform: translate3d(56vw, 32vh, 88px);
    }

    @keyframes particle4 {
      100% {
        transform: translate3d(78vw, 4vh, 55px);
      }
    }

    &:nth-child(5) {
      opacity: 0.4;
      animation-name: particle5;
      animation-delay: -1s;
      transform: translate3d(79vw, 74vh, 14px);
    }

    @keyframes particle5 {
      100% {
        transform: translate3d(2vw, 47vh, 68px);
      }
    }

    &:nth-child(6) {
      opacity: 0.41;
      animation-name: particle6;
      animation-delay: -1.2s;
      transform: translate3d(92vw, 27vh, 61px);
    }

    @keyframes particle6 {
      100% {
        transform: translate3d(80vw, 35vh, 11px);
      }
    }

    &:nth-child(7) {
      opacity: 0.74;
      animation-name: particle7;
      animation-delay: -1.4s;
      transform: translate3d(55vw, 60vh, 75px);
    }

    @keyframes particle7 {
      100% {
        transform: translate3d(63vw, 15vh, 59px);
      }
    }

    &:nth-child(8) {
      opacity: 0.09;
      animation-name: particle8;
      animation-delay: -1.6s;
      transform: translate3d(10vw, 10vh, 55px);
    }

    @keyframes particle8 {
      100% {
        transform: translate3d(30vw, 64vh, 91px);
      }
    }

    &:nth-child(9) {
      opacity: 0.89;
      animation-name: particle9;
      animation-delay: -1.8s;
      transform: translate3d(3vw, 53vh, 98px);
    }

    @keyframes particle9 {
      100% {
        transform: translate3d(60vw, 80vh, 97px);
      }
    }

    &:nth-child(10) {
      opacity: 0.23;
      animation-name: particle10;
      animation-delay: -2s;
      transform: translate3d(64vw, 77vh, 95px);
    }

    @keyframes particle10 {
      100% {
        transform: translate3d(18vw, 5vh, 7px);
      }
    }

    &:nth-child(11) {
      opacity: 0.96;
      animation-name: particle11;
      animation-delay: -2.2s;
      transform: translate3d(35vw, 6vh, 101px);
    }

    @keyframes particle11 {
      100% {
        transform: translate3d(88vw, 14vh, 71px);
      }
    }

    &:nth-child(12) {
      opacity: 0.52;
      animation-name: particle12;
      animation-delay: -2.4s;
      transform: translate3d(55vw, 12vh, 33px);
    }

    @keyframes particle12 {
      100% {
        transform: translate3d(46vw, 5vh, 3px);
      }
    }

    &:nth-child(13) {
      opacity: 0.95;
      animation-name: particle13;
      animation-delay: -2.6s;
      transform: translate3d(90vw, 27vh, 70px);
    }

    @keyframes particle13 {
      100% {
        transform: translate3d(51vw, 75vh, 18px);
      }
    }

    &:nth-child(14) {
      opacity: 0.98;
      animation-name: particle14;
      animation-delay: -2.8s;
      transform: translate3d(3vw, 73vh, 11px);
    }

    @keyframes particle14 {
      100% {
        transform: translate3d(45vw, 46vh, 28px);
      }
    }

    &:nth-child(15) {
      opacity: 0.69;
      animation-name: particle15;
      animation-delay: -3s;
      transform: translate3d(86vw, 82vh, 49px);
    }

    @keyframes particle15 {
      100% {
        transform: translate3d(16vw, 31vh, 36px);
      }
    }

    &:nth-child(16) {
      opacity: 0.23;
      animation-name: particle16;
      animation-delay: -3.1s;
      transform: translate3d(2vw, 50vh, 25px);
    }

    @keyframes particle16 {
      100% {
        transform: translate3d(44vw, 69vh, 84px);
      }
    }
  }

  > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    inset: 0px;
  }

  > .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > .content {
      width: 40%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;

      @include mobile() {
        width: 100%;
        text-align: center;
      }

      .heading {
        color: $light;
        // backdrop-filter: blur(10px);

        &.light {
          color: $light !important;
        }
        &.primary {
          color: $primary !important;
        }
        &.accent {
          color: $accent !important;
        }
      }

      .subheading {
        color: $light;
        // backdrop-filter: blur(10px);

        &.light {
          color: $light !important;
        }
        &.primary {
          color: $primary !important;
        }
        &.accent {
          color: $accent !important;
        }
      }

      > .actions {
        display: flex;
        flex-direction: row;
        margin-top: 30px;

        @include mobile() {
          justify-content: center;
        }

        > a {
          position: relative;
          display: inline-block;
          //   align-items: center;
          gap: 10px;
          padding: 0.8rem 1.5rem;
          border-radius: 8px;
          border: 2px solid $light;
          // background-color: $primary;
          box-shadow: $box-shadow;
          // background-color: $tertiary;
          // color: $primary !important;
          letter-spacing: 1px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: $light;
            > div {
              > span {
                color: $primary_dark !important;
              }
            }
          }

          // margin-top: 1rem;

          > div {
            display: inline-block;

            > span {
              font-weight: 700;
              color: $light !important;
            }
          }
        }
      }
    }
  }
}
