@import "~/src/scss/index.scss";

.navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;

    li {
      background-color: $lightgray;
      padding: 8px 16px;
      border-radius: 16px;
      cursor: pointer;
      color: $darkgray;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:has(.active) {
        background-color: $primary;
        color: $light;
      }

      .active {
        color: $light;
      }
    }
  }
}
