@import "~/src/scss/index.scss";

.heroSection {
    // position: relative;
    height: 300px;
    width: 100%;
    background: url("/images/creatica-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;

    .content {
        // position: absolute;
        display: flex !important;
        align-items: center !important;

        > h1 {
            color: $light;
        }
    }
}
