@import "~/src/scss/index.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  //   .wrapper {
  //     .title {
  //       color: $text-secondary;
  //       text-align: center;
  //     }
  //   }
}
