@import "~/src/scss/index.scss";

.authLayout {
  background-color: $light;
  padding: 20px 100px;
  height: 100vh;
  //   width: 100vw;

  @include mobile() {
    padding: 0;
  }

  .container {
    height: 100%;
    // max-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: $lightgreen;
    padding: 16px;
    position: relative;
    border-radius: 15px;
    box-shadow: $box-shadow;

    @include mobile() {
      padding: 0;
      border-radius: 0px;
    }

    .topBar {
      position: absolute;
      top: 30px;
      left: 60px;
      right: 60px;
      //   width: 100%;
      display: flex;
      justify-content: space-between;
      //   padding: 40px;

      @include mobile() {
        left: 25px;
        right: 25px;
        top: 16px;
      }

      > a {
        display: flex;
        align-items: center;

        > img {
          position: relative !important;
          width: auto;
          height: 25px !important;
          max-height: 25px;
        }

        &:last-of-type {
          display: flex;
          width: 35px;
          height: 35px;
          background-color: $background-light__blur;
          backdrop-filter: blur(50px);
          padding: 10px;
          border-radius: 50px;

          > svg {
            margin: 0;
          }

          &:hover {
            backdrop-filter: blur(10px);
          }
        }
      }
    }

    .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      //   background-color: $light;

      @include mobile() {
        width: auto;
        position: absolute;
        left: 16px;
        right: 16px;
      }
    }

    .right {
      background: url("/images/auth-wallpaper.jpg");
      background-position: center;
      background-size: cover;
      height: 100%;
      border-radius: 10px;
      width: 50%;
      //   padding: 20px;

      @include mobile() {
        width: 100%;
        border-radius: 0px;
      }
    }
  }
}
