@import "~/src/scss/index.scss";

.bottomBar {
    position: absolute;
    background-color: $background-quaternary__blur;
    // backdrop-filter: blur(20px);
    bottom: 0;
    width: 100%;
    color: $light;
    padding: .5rem 0;
}