@import "~/src/scss/index.scss";

.payment {
  background-color: $light;
  box-shadow: $box-shadow;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  //   .heading {
  //     margin-bottom: 30px;
  //   }

  .content {
    background-color: $light;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
}
