@import "~/src/scss/index.scss";

.muiXCardPaper {
  box-sizing: border-box;

  .muiXCardPaperWrapper {
    border: 1px solid $border-primary;
    border-radius: 8px;
    padding: 16px;
    overflow: hidden;
    background: $light;
    color: $darkgray;
    height: 100%;
    flex-grow: 1;

    .muiXCardContent {
      padding: 0;

      .muiXCardSubtitle {
        margin: 0;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.57;
        margin-bottom: 0.35em;
      }

      .muiXCardStackWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        gap: 8px;

        .muiXCardStackContent {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;

          .muiXCardStack {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            justify-content: space-between;

            .muiXCardText {
              margin: 0;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 1;
            }

            .caption {
              margin: 0;
              font-weight: 500;
              font-size: 0.65rem;
              line-height: 1;
              color: $darkgray;
            }
          }

          .muiXCardMeta {
            display: flex;
            flex-direction: column;
            // gap: 2px;

            .chipDescription {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 4px;

              .chipDescriptionContent {
                font-size: 0.75rem;
                line-height: 1;
                font-weight: 600;
              }

              &.success {
                .chipDescriptionIcon {
                  color: $primary;
                }
                .chipDescriptionContent {
                  color: $primary;
                }
              }

              &.danger {
                .chipDescriptionIcon {
                  color: $danger;
                }
                .chipDescriptionContent {
                  color: $danger;
                }
              }

              &.info {
                .chipDescriptionIcon {
                  color: $darkgray;
                }
                .chipDescriptionContent {
                  color: $darkgray;
                }
              }

              .chipDescriptionCaption {
                font-size: 0.65rem;
                line-height: 1;
                font-weight: 500;
                color: $darkgray;
              }
            }
          }
        }

        .muiXCardBox {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
