@import "~/src/scss/index.scss";

.amortizationSchedule {
  box-sizing: border-box;

  .amortizationScheduleWrapper {
    border: 1px solid $border-primary;
    border-radius: 8px;
    padding: 16px;
    overflow: hidden;
    background: $light;
    color: $darkgray;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      margin: 0;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.57;
      margin-bottom: 0.35em;
    }
  }
}

.status {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: 500;

  &.paid {
    background-color: $lightgreen;
    border: 1px solid $primary;
    color: $primary;
  }

  &.pending {
    background-color: $background-warning;
    border: 1px solid $warning;
    color: $warning;
  }
}

.centerAlignHeader {
  text-align: center !important;
}

.rightAlignHeader {
  text-align: right !important;
}

.rightAlign {
  text-align: right !important;
}

.centerAlign {
  text-align: center !important;
}
