@import "~/src/scss/index.scss";

.account {
    position: relative;

    .content {
        position: absolute;
        top: -100px;
    }
}

.tabs {
    position: relative;
    // margin-top: -40px;

    > div {
        > a {
            &:last-of-type {
                position: absolute !important;
                right: 0;

                > i {
                    color: $text-primary !important;
                }

                &.active {
                    color: $light !important;
                }
            }
            &:nth-last-of-type(2) {
                position: absolute !important;
                right: 46px;
                // color: $light !important;
            }

        }
    }
}