@import "~/src/scss/index.scss";

.footer {
  position: relative;
  background-color: $background-primary;
  padding: 60px 0;
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile() {
    grid-template-columns: repeat(1, 1fr);
  }

  > div {
    width: calc(100% / 4);

    .heading {
      text-transform: uppercase;
      color: $light;
      margin-bottom: 1rem;
    }

    > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin: 0;
      padding: 0;

      > a {
        cursor: pointer;
        color: $lightgreen;

        &:hover {
          color: $light;
        }
      }

      > div.contactSubmenu {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        > ul.social {
          display: flex !important;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          margin: 0;
          padding: 0;

          > a {
            display: inline-flex !important;
            align-items: center;
            justify-content: center;
            width: 35px !important;
            background-color: $light !important;
            color: $primary !important;
          }
        }
      }
    }
  }
}
