@import "~/src/scss/index.scss";

.addressCard {
  padding: 1rem;
  border: 1px solid $gray;
  box-shadow: $box-shadow;
  border-radius: 4px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
  gap: 1rem;

  .editBtn {
    padding: 1rem;
    > i {
      color: $info;
    }
  }

  .deleteBtn {
    padding: 1rem;
    > i {
      color: $danger;
    }
  }
}
