@import "~/src/scss/index.scss";

.featuredServices {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primary;
  // background-color: $lightgreen;

  > .wrapper {
    > .heading {
      //   color: $text-accent;
      color: $accent;
      text-align: center;
    }

    > .subHeading {
      text-align: center;
      font-size: 20px;
      color: $light;
    }

    > .content {
      padding-top: 54px;
      padding-bottom: 54px;

      .servicesWrapper {
        grid-auto-rows: 1fr;
      }
    }

    > .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}
