$primary: #308a40; // #2f925b; // #308a40;
$secondary: #54c500; // #2f925b;
$tertiary: #297737; // #71c21b; // #6aba46
$quaternary: #f99519; // #feb913; // #f7df1e; // #feb91d; // #ffcb04;
$accent: #feb913; // #f99519; // #ffae1a; // #ffcb04; //  #f68c20;

$text-primary: #212121; // #263238;
$text-secondary: #757575;
$text-accent: #093d31; // #2a5b57;
$text-light: #ffffff;

$border-primary: #909090;
$border-secondary: #474747;

$background-primary: #2f925b;
$background-secondary: #0b4b6e; // #082442
$background-tertiary: #345478;
$background-quaternary: #3d3d3d;
$background-lemon: #a2d24b;

$background-quaternary__blur: #3d3d3d10;
$background-light__blur: #ffffff10;

// $linear-gradient-primary: linear-gradient(
//   0deg,
//   rgba(47, 146, 91, 0.8),
//   rgba(113, 194, 27, 0.8)
// );

$linear-gradient-primary: linear-gradient(
  217deg,
  rgba(47, 146, 91, 0.8),
  rgba(47, 146, 91, 0) 70.71%
);
$linear-gradient-secondary: linear-gradient(
  127deg,
  rgba(52, 165, 99, 0.8),
  rgba(52, 165, 99, 0) 70.71%
);
$linear-gradient-tertiary: linear-gradient(
  336deg,
  rgba(113, 194, 27, 0.8),
  rgba(113, 194, 27, 0) 70.71%
);

$red: #ee2a24;
$orange: #f68c20;
$blue: #0087e3;

$success: #2b5f4a; // #6aba46;
$background-success: #edf5f2;
$danger: #9b324e;
$background-danger: #f8dae2;
$info: #488af7;
$background-info: #dae8fd;
$warning: #665937;
$background-warning: #fef4d7;

$success__blur: #6bba4610;
$danger__blur: #ee2a2410;
$info__blur: #0087e310;
$warning__blur: #f68c2010;
$darkgray__blur: #455a6410;

$dark: #263238;
$light: #ffffff;
$darkgray: #455a64;
$gray: #cbd5e1;
$lightgray: #f6f7f9;
$lightgreen: #e9f7eb; // #daf2df; // #ccedd2; // #f1f9eb;
$light-accent: #fff8dc;

// $box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
