@import "~/src/scss/index.scss";


.mainContent {
    .content {
        margin-top: -60px !important;
        // background-color: $light;
    }
}

.formsContainer {
    display: flex;
    gap: 1rem;
}