@import "~/src/scss/index.scss";

.logoClouds {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $lightgreen;

    > .wrapper {
        > .heading {
            color: $text-accent;
            text-align: center;
        }

        > .subheading {
            text-align: center;
        }
        
        > .content {
            padding-top: 30px;
            padding-bottom: 30px;

            img {
                width: 100%;
                aspect-ratio: 3/2;
                object-fit: contain;
                mix-blend-mode: luminosity;

                &:hover {
                    mix-blend-mode: normal;
                }
            }
        }

        > .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }
}