@import "~/src/scss/index.scss";

.account {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 35px;

  button {
    height: 40px;
    max-height: 40px;
  }

  .notifications {
    padding: 8px;
    gap: 4px !important;
    position: relative;

    > i {
      color: $darkgray;
    }

    > span {
      color: $darkgray;
    }

    &:hover {
      > span {
        color: $primary;
      }
    }

    > .quantity {
      position: absolute;
      top: 4px;
      right: 0px;
      background-color: $accent;
      color: $primary_dark;
      font-size: 12px;
      width: 15px !important;
      height: 15px !important;
      border-radius: 50%;
    }
  }

  .cart {
    padding: 8px;
    gap: 4px !important;
    position: relative;

    > span {
      color: $darkgray;
    }

    &:hover {
      > span {
        color: $primary;
      }
    }

    > .quantity {
      position: absolute;
      top: 4px;
      right: 0px;
      background-color: $accent;
      color: $primary_dark;
      font-size: 12px;
      width: 15px !important;
      height: 15px !important;
      border-radius: 50%;
    }
  }

  .user {
    background-color: transparent !important;
    color: $primary !important;
    font-size: 13px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $primary;
    padding: 0 !important;

    &:hover {
      background-color: $primary !important;
      color: $light !important;
      border-color: $tertiary !important;
    }
  }

  .logout {
    padding: 4px;
    text-align: center;

    > span {
      display: block;
      width: 100%;
      text-align: center;
      padding: 10px 32px;
      background-color: $lightgreen;
      color: $primary;
      border: 2px solid $primary;
      border-radius: 4px;
    }
  }
}
